In [1]:
import pandas as pd 
import numpy as np                     # For mathematical calculations 
import seaborn as sns                  # For data visualization 
import matplotlib.pyplot as plt        # For plotting graphs 
import warnings
warnings.simplefilter(action='ignore')
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [2]:
train=pd.read_csv("Train.csv") 
test=pd.read_csv("Test.csv")


#dropping all unrelevant column
train.drop(['Gender','Education_Level',
       'Relationship_Status', 'Hometown','growth_rate'],1,inplace=True)
test.drop([ 'Gender','Education_Level',
       'Relationship_Status', 'Hometown','growth_rate'],1,inplace=True)
train.columns

Index(['Employee_ID', 'Age', 'Unit', 'Decision_skill_possess',
       'Time_of_service', 'Time_since_promotion', 'Travel_Rate', 'Post_Level',
       'Pay_Scale', 'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1',
       'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7', 'Attrition_rate'],
      dtype='object')

In [3]:
train_original=train.copy() 
test_original=test.copy()


train.head()

,Employee_ID,Age,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,Travel_Rate,Post_Level,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,42.0,IT,Conceptual,4.0,4,1,1,7.0,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,24.0,Logistics,Analytical,5.0,4,0,3,6.0,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,58.0,Quality,Conceptual,27.0,3,0,2,8.0,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,26.0,Human Resource Management,Behavioral,4.0,3,1,3,8.0,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,31.0,Logistics,Conceptual,5.0,4,1,3,2.0,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [4]:
train.describe()

,Age,Time_of_service,Time_since_promotion,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
count,6588.000000,6856.000000,7000.000000,7000.000000,7000.000000,6991.000000,6989.000000,7000.000000,6423.000000,7000.000000,6344.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,39.622799,13.385064,2.367143,0.817857,2.798000,6.006294,2.387895,3.098571,-0.008126,-0.013606,1.891078,2.834143,7.101286,3.257000,0.189376
std,13.606920,10.364188,1.149395,0.648205,1.163721,2.058435,1.122786,0.836377,0.989850,0.986933,0.529403,0.938945,1.164262,0.925319,0.185753
min,19.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.817600,-2.776200,1.000000,1.000000,5.000000,1.000000,0.000000
25%,27.000000,5.000000,1.000000,0.000000,2.000000,5.000000,1.000000,3.000000,-0.961200,-0.453700,2.000000,2.000000,6.000000,3.000000,0.070400
50%,37.000000,10.000000,2.000000,1.000000,3.000000,6.000000,2.000000,3.000000,-0.104800,-0.453700,2.000000,3.000000,7.000000,3.000000,0.142650
75%,52.000000,21.000000,3.000000,1.000000,3.000000,8.000000,3.000000,3.000000,0.751600,0.707500,2.000000,3.000000,8.000000,4.000000,0.235000
max,65.000000,43.000000,4.000000,2.000000,5.000000,10.000000,5.000000,5.000000,1.608100,1.868800,3.000000,5.000000,9.000000,5.000000,0.995900

In [5]:
train.dtypes

Employee_ID                   object
Age                          float64
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
Travel_Rate                    int64
Post_Level                     int64
Pay_Scale                    float64
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [6]:
print(train.shape)
print(test.shape)
train.columns

(7000, 19)
(3000, 18)

Index(['Employee_ID', 'Age', 'Unit', 'Decision_skill_possess',
       'Time_of_service', 'Time_since_promotion', 'Travel_Rate', 'Post_Level',
       'Pay_Scale', 'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1',
       'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7', 'Attrition_rate'],
      dtype='object')

# univariate Analysis

In [7]:
#sns.pairplot(train)

In [8]:
train.isnull().sum()

Employee_ID                    0
Age                          412
Unit                           0
Decision_skill_possess         0
Time_of_service              144
Time_since_promotion           0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      9
Compensation_and_Benefits      0
Work_Life_balance             11
VAR1                           0
VAR2                         577
VAR3                           0
VAR4                         656
VAR5                           0
VAR6                           0
VAR7                           0
Attrition_rate                 0
dtype: int64

In [9]:
train['Age'].fillna(train['Age'].mean(), inplace=True) 
train['Time_of_service'].fillna(train['Time_of_service'].mean(), inplace=True) 
train['Work_Life_balance'].fillna(train['Work_Life_balance'].mode()[0], inplace=True)
train['Pay_Scale'].fillna(train['Pay_Scale'].mode()[0], inplace=True)
train['VAR2'].fillna(train['VAR2'].mean(), inplace=True)
train['VAR4'].fillna(train['VAR4'].mode()[0], inplace=True) 
train.isnull().sum()

Employee_ID                  0
Age                          0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
Attrition_rate               0
dtype: int64

In [10]:
test.isnull().sum()

Employee_ID                    0
Age                          161
Unit                           0
Decision_skill_possess         0
Time_of_service               52
Time_since_promotion           0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      3
Compensation_and_Benefits      0
Work_Life_balance              5
VAR1                           0
VAR2                         217
VAR3                           0
VAR4                         298
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

In [11]:
test['Age'].fillna(test['Age'].mean(), inplace=True) 
test['Time_of_service'].fillna(test['Time_of_service'].mean(), inplace=True) 
test['Work_Life_balance'].fillna(test['Work_Life_balance'].mode()[0], inplace=True)
test['Pay_Scale'].fillna(test['Pay_Scale'].mode()[0], inplace=True)
test['VAR2'].fillna(test['VAR2'].mean(), inplace=True)
test['VAR4'].fillna(test['VAR4'].mode()[0], inplace=True) 
test.isnull().sum()

Employee_ID                  0
Age                          0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
dtype: int64

In [12]:
#train['joining_age']=train['Age']-train['Time_of_service']
#test['joining_age']=test['Age']-test['Time_of_service']
#plt.hist(train['joining_age'])

In [13]:

train=train.drop(['Employee_ID'],1)
empId = test['Employee_ID'].tolist()
test=test.drop(['Employee_ID'],1)

In [14]:
X = train.drop('Attrition_rate',1) 

y = train.Attrition_rate

In [15]:

X=pd.get_dummies(X,drop_first=True) 
train=pd.get_dummies(train,drop_first=True) 
test=pd.get_dummies(test,drop_first=True)

In [16]:
def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]
    return(vif)
print(calc_vif(X))

                            variables        VIF
0                                 Age  42.114103
1                     Time_of_service  11.772035
2                Time_since_promotion   5.304902
3                         Travel_Rate   2.581939
4                          Post_Level   6.636507
5                           Pay_Scale   9.097412
6                   Work_Life_balance   5.384220
7                                VAR1  13.644962
8                                VAR2   1.003145
9                                VAR3   1.002992
10                               VAR4  13.870769
11                               VAR5   9.671558
12                               VAR6  30.178307
13                               VAR7  12.622681
14     Unit_Human Resource Management   1.645649
15                            Unit_IT   3.562850
16                     Unit_Logistics   3.164542
17                     Unit_Marketing   1.398757
18                    Unit_Operarions   2.304353
19                    Unit_Production   1.380944
20                    Unit_Purchasing   1.932997
21                       Unit_Quality   1.358121
22                           Unit_R&D   2.256231
23                         Unit_Sales   2.741691
24                      Unit_Security   1.265741
25  Decision_skill_possess_Behavioral   1.984774
26  Decision_skill_possess_Conceptual   1.987587
27   Decision_skill_possess_Directive   1.990873
28    Compensation_and_Benefits_type1   1.547350
29    Compensation_and_Benefits_type2  17.525755
30    Compensation_and_Benefits_type3  11.034245
31    Compensation_and_Benefits_type4   2.487638

In [17]:
#Variance Inflation Factor. During regression analysis, VIF assesses whether factors are correlated to each other (multicollinearity), which could affect p-values and the model isn't going to be as reliable
#dropping column having high vif 

X.drop(['Age','VAR6','VAR1','VAR5'],1,inplace=True)
test.drop(['Age','VAR6','VAR1','VAR5'],1,inplace=True)

# Model Building

In [81]:

from sklearn.model_selection import KFold
kf=KFold(n_splits=10, random_state=21, shuffle=True)
for train_index, test_index in kf.split(X):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [188]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
xgbmodel = xgb.XGBRegressor(max_depth=3, random_state=21,max_leaf_nodes=3,learning_rate=0.04,colsample_bytree=0.4,gamma=0.8)
xgbmodel

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0.8,
             importance_type='gain', learning_rate=0.04, max_delta_step=0,
             max_depth=3, max_leaf_nodes=3, min_child_weight=1, missing=None,
             n_estimators=100, n_jobs=1, nthread=None, objective='reg:linear',
             random_state=21, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [189]:
xgbmodel.fit(x_train, y_train)
pred_y1 = xgbmodel.predict(x_test)
print(xgbmodel.score(x_test,y_test))
print((1-(np.sqrt(mean_squared_error(y_test,pred_y1))))*100)
mean_squared_error(y_test,pred_y1)

[01:23:02] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
-0.005428812463528443
83.18366970385732

0.02827889646289661

In [192]:

pred_value=xgbmodel.predict(test)
D = {"Employee_ID": empId, "Attrition_rate":pred_value}
sub = pd.DataFrame(D)
sub.to_csv('sample_submissionround1.csv', index=False)